<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htc.dao.AccountTbMapper">
  <resultMap id="BaseResultMap" type="com.htc.model.AccountTb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="account_type" jdbcType="VARCHAR" property="accountType" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="account_pwd" jdbcType="VARCHAR" property="accountPwd" />
    <result column="account_balance" jdbcType="DOUBLE" property="accountBalance" />
    <result column="limit_balance" jdbcType="DOUBLE" property="limitBalance" />
    <result column="others" jdbcType="VARCHAR" property="others" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, account_type, account_id, account_pwd, account_balance, limit_balance, 
    others
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.htc.model.AccountTb">
    insert into account (id, user_id, account_type, 
      account_id, account_pwd, account_balance, 
      limit_balance, others)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{accountType,jdbcType=VARCHAR}, 
      #{accountId,jdbcType=VARCHAR}, #{accountPwd,jdbcType=VARCHAR}, #{accountBalance,jdbcType=DOUBLE}, 
      #{limitBalance,jdbcType=DOUBLE}, #{others,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.htc.model.AccountTb">
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="accountPwd != null">
        account_pwd,
      </if>
      <if test="accountBalance != null">
        account_balance,
      </if>
      <if test="limitBalance != null">
        limit_balance,
      </if>
      <if test="others != null">
        others,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountPwd != null">
        #{accountPwd,jdbcType=VARCHAR},
      </if>
      <if test="accountBalance != null">
        #{accountBalance,jdbcType=DOUBLE},
      </if>
      <if test="limitBalance != null">
        #{limitBalance,jdbcType=DOUBLE},
      </if>
      <if test="others != null">
        #{others,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.htc.model.AccountTb">
    update account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="accountPwd != null">
        account_pwd = #{accountPwd,jdbcType=VARCHAR},
      </if>
      <if test="accountBalance != null">
        account_balance = #{accountBalance,jdbcType=DOUBLE},
      </if>
      <if test="limitBalance != null">
        limit_balance = #{limitBalance,jdbcType=DOUBLE},
      </if>
      <if test="others != null">
        others = #{others,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htc.model.AccountTb">
    update account
    set user_id = #{userId,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR},
      account_pwd = #{accountPwd,jdbcType=VARCHAR},
      account_balance = #{accountBalance,jdbcType=DOUBLE},
      limit_balance = #{limitBalance,jdbcType=DOUBLE},
      others = #{others,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>