<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htc.dao.TransferTbMapper">
  <resultMap id="BaseResultMap" type="com.htc.model.TransferTb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="o_user_id" jdbcType="VARCHAR" property="oUserId" />
    <result column="a_user_id" jdbcType="VARCHAR" property="aUserId" />
    <result column="transfer_flag" jdbcType="VARCHAR" property="transferFlag" />
    <result column="transfer_date" jdbcType="TIMESTAMP" property="transferDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, o_user_id, a_user_id, transfer_flag, transfer_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transfer_tb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transfer_tb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.htc.model.TransferTb">
    insert into transfer_tb (id, o_user_id, a_user_id, 
      transfer_flag, transfer_date)
    values (#{id,jdbcType=INTEGER}, #{oUserId,jdbcType=VARCHAR}, #{aUserId,jdbcType=VARCHAR}, 
      #{transferFlag,jdbcType=VARCHAR}, #{transferDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.htc.model.TransferTb">
    insert into transfer_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oUserId != null">
        o_user_id,
      </if>
      <if test="aUserId != null">
        a_user_id,
      </if>
      <if test="transferFlag != null">
        transfer_flag,
      </if>
      <if test="transferDate != null">
        transfer_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oUserId != null">
        #{oUserId,jdbcType=VARCHAR},
      </if>
      <if test="aUserId != null">
        #{aUserId,jdbcType=VARCHAR},
      </if>
      <if test="transferFlag != null">
        #{transferFlag,jdbcType=VARCHAR},
      </if>
      <if test="transferDate != null">
        #{transferDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.htc.model.TransferTb">
    update transfer_tb
    <set>
      <if test="oUserId != null">
        o_user_id = #{oUserId,jdbcType=VARCHAR},
      </if>
      <if test="aUserId != null">
        a_user_id = #{aUserId,jdbcType=VARCHAR},
      </if>
      <if test="transferFlag != null">
        transfer_flag = #{transferFlag,jdbcType=VARCHAR},
      </if>
      <if test="transferDate != null">
        transfer_date = #{transferDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htc.model.TransferTb">
    update transfer_tb
    set o_user_id = #{oUserId,jdbcType=VARCHAR},
      a_user_id = #{aUserId,jdbcType=VARCHAR},
      transfer_flag = #{transferFlag,jdbcType=VARCHAR},
      transfer_date = #{transferDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>