<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htc.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.htc.model.User">
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		uuid,login_name,login_password,nick_name,status,add_time,remark
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where uuid = #{uuid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		sys_user
		where uuid = #{uuid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.htc.model.User">
		insert into sys_user (
		<include refid="Base_Column_List" />
		)
		values (#{uuid,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR},
		#{loginPassword,jdbcType=VARCHAR},#{nickName,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},#{addTime,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.htc.model.User" >
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="loginName != null">
				login_name,
			</if>
			<if test="loginPassword != null">
				login_password,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="loginName != null">
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="loginPassword != null">
				#{loginPassword,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.htc.model.User">
		update sys_user
		<set>
			<if test="loginName != null">
				login_name = #{loginName,jdbcType=VARCHAR},
			</if>
			<if test="loginPassword != null">
				login_password = #{loginPassword,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where uuid = #{uuid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.htc.model.User">
		update sys_user
		set
		login_name = #{loginName,jdbcType=VARCHAR},
		login_password = #{loginPassword,jdbcType=VARCHAR},
		nick_name = #{nickName,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		add_time = #{addTime,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR}
	</update>

	<select id="getAll" resultMap="BaseResultMap">
		SELECT * FROM sys_user
	</select>
	<select id="getPartbyCondition" resultMap="BaseResultMap" parameterType="com.htc.model.User">
		SELECT * from sys_user 
		<where>
			1=1
			<if test="loginName != null and loginName != ''">
				and login_name = #{loginName,jdbcType=VARCHAR} 
			</if>
			<if test="loginPassword != null and loginPassword != ''">
				and login_password = #{loginPassword,jdbcType=VARCHAR} 
			</if>
			<if test="nickName != null and nickName != ''">
				and nick_name = #{nickName,jdbcType=VARCHAR} 
			</if>
			<if test="status != null and status != ''">
				and status = #{status,jdbcType=INTEGER} 
			</if>
			<if test="addTime != null and addTime != ''">
				and add_time = #{addTime,jdbcType=VARCHAR} 
			</if>
			<if test="remark != null and remark != ''">
				and remark = #{remark,jdbcType=VARCHAR} 
			</if>
		</where>
	</select>
	<select id="login" resultMap="BaseResultMap" parameterType="com.htc.model.User">
		SELECT * from sys_user 
		<where>
			1=1
			<if test="loginName != null and loginName != ''">
				and login_name = #{loginName,jdbcType=VARCHAR} 
			</if>
			<if test="loginPassword != null and loginPassword != ''">
				and login_password = #{loginPassword,jdbcType=VARCHAR} 
			</if>
			<if test="nickName != null and nickName != ''">
				and nick_name = #{nickName,jdbcType=VARCHAR} 
			</if>
			<if test="status != null and status != ''">
				and status = #{status,jdbcType=INTEGER} 
			</if>
			<if test="addTime != null and addTime != ''">
				and add_time = #{addTime,jdbcType=VARCHAR} 
			</if>
			<if test="remark != null and remark != ''">
				and remark = #{remark,jdbcType=VARCHAR} 
			</if>
		</where>
	</select>
</mapper>

