<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htc.dao.UserTbMapper">
  <resultMap id="BaseResultMap" type="com.htc.model.UserTb">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="id_type" jdbcType="VARCHAR" property="idType" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="pay_pwd" jdbcType="VARCHAR" property="payPwd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, id_type, user_id, addr, phone, rank, login_pwd, pay_pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.htc.model.UserTb">
    insert into user (id, user_name, id_type, 
      user_id, addr, phone, 
      rank, login_pwd, pay_pwd
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{idType,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{rank,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, #{payPwd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.htc.model.UserTb">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="loginPwd != null">
        login_pwd,
      </if>
      <if test="payPwd != null">
        pay_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="payPwd != null">
        #{payPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.htc.model.UserTb">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        login_pwd = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="payPwd != null">
        pay_pwd = #{payPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htc.model.UserTb">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=VARCHAR},
      login_pwd = #{loginPwd,jdbcType=VARCHAR},
      pay_pwd = #{payPwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAll" resultMap="BaseResultMap" parameterType="com.htc.model.UserTb">
		SELECT 
		<include refid="Base_Column_List" /> 
		from user 
  </select>
  <select id="login" resultMap="BaseResultMap" parameterType="com.htc.model.UserTb">
		SELECT 
		<include refid="Base_Column_List" /> 
		from user 
		<where>
			1=1
			<if test="userId != null and userId != ''">
				and user_id = #{userId,jdbcType=VARCHAR}
			</if>
			<if test="loginPwd != null and loginPwd != ''">
				and login_pwd = #{loginPwd,jdbcType=VARCHAR} 
			</if>
		</where>
	</select>
  
</mapper>